<div id="carouselSite" class="container-fuild" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/img/aboutLeague.png" class="img-fluid d-block">
        </div>

        <div class="carousel-item">
            <img src="../../../../assets/img/logoLeague.png" class="img-fluid d-block">
        </div>

        <div class="carousel-item">
            <img src="../../../../assets/img/aboutLeague.png" class="img-fluid d-block">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">

        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Anterior</span>

    </a>
    <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">

        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Próximo</span>

    </a>
</div>