<h1 class='title-home'>Torneio 2021</h1>
<carousel container class="carousel-images">
    <div class="carousel-cell">
        <img src="../../../../assets/img/carouselImages/logoLeague.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/abc.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/bahia.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/ceará.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/confiança.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/crb.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/fortaleza.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/náutico.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/santa.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/sport.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/teams/treze.png">
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/img/carouselImages/logoLeague.png">
    </div>
</carousel>
<br>
<p class='about-league'> A tradicional Copa do Nordeste é apelidada de Lampions League, e busca na competição do velho continente, 
    a receita para o grande sucesso. Fundada em 1994, a Lampions League é um torneio envolvendo 16 equipes do 
    Nordeste divididos então em dois grupos com oito clubes em cada. Os quatro melhores de cada chave, avançam 
    à fase do mata-mata. Com o intuito de trazer mais visibilidade e investimento às equipes da região, 
    que normalmente são esquecidas pelas mídias do eixo Sul-Sudeste, o torneio nem sempre teve a credibilidade atual
</p>