.container {
  display: flex;
  justify-content: space-evenly;
  padding: 80px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 0;
}

img {
  width: 50px;
  margin-right: 10px;
}

.header a{
  cursor: pointer;
}

.players {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-player {
  margin-bottom: 20px;  
}

.add-player a {
  color: #05c46b;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.add-player span {
  margin-left: 5px;
  font-size: 18px;
}

table {
  width: 100%;
}

.titles {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.trophies {
  margin-top: 20px;
}

.classification {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}