<div class="container">
  <div class="team">
    <div class="header">
      <img src="{{ team.emblem }}" alt="Emblema do time">
      <h2>{{ team.name }}</h2>
      <a class="edit" (click)="edit()">
        <i class="material-icons">edit</i>
      </a>
      <a class="delete" (click)="openDialog()">
        <i class="material-icons">delete</i>
      </a>
    </div>  
    <ul>
      <li>Pontos: {{ team.points }}</li>
      <li>Vitórias: {{ team.victories }}</li>
      <li>Empates: {{ team.draws }}</li>
      <li>Derrotas: {{ team.defeats }}</li>
    </ul>  
  </div>
  <div class="players">
    <table mat-table [dataSource]="players" class="mat-elevation-z8">

      <ng-container matColumnDef="shirtNumber">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let row"> {{row.shirtNumber}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Posição </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="mat-header align-center" mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell class="align-center" *matCellDef="let row">
          <a class="edit" routerLink="/player/update/{{ row.id }}">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" (click)="openPlayerDialog(row.id)">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>       
  </div>
</div>