.container {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 0;
}

img {
  width: 50px;
  margin-right: 10px;
}

.header a{
  cursor: pointer;
}

.players {
  width: 400px;
}

table {
  width: 100%;
}