<form>
  <h1>Criar Time</h1>

  <mat-form-field class="form" appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="team.name" type="text" name="name" placeholder="Ex. Senac F.C">
  </mat-form-field>
  <mat-form-field class="form" appearance="outline">
    <mat-label>Escudo</mat-label>
    <input matInput [(ngModel)]="team.emblem" type="text" name="emblem">
  </mat-form-field>
  <mat-form-field class="form" appearance="outline">
    <mat-label>Quantidade de Títulos</mat-label>
    <input matInput [(ngModel)]="team.titles" type="number" name="titles">
  </mat-form-field>
  <mat-form-field class="form" appearance="outline">
    <mat-label>Vitórias</mat-label>
    <input matInput [(ngModel)]="team.victories" type="number" name="victories">
  </mat-form-field>
  <mat-form-field class="form" appearance="outline">
    <mat-label>Empates</mat-label>
    <input matInput [(ngModel)]="team.draws" type="number" name="draws">
  </mat-form-field>
  <mat-form-field class="form" appearance="outline">
    <mat-label>Derrotas</mat-label>
    <input matInput [(ngModel)]="team.defeats" type="number" name="defeats">
  </mat-form-field>

  <div class="buttons">
    <button routerLink="/team" class="mat-elevation-z8" mat-stroked-button> VOLTAR </button>
    <button  class="mat-elevation-z8" (click)="create()" mat-stroked-button style="background-color: #05c46b;"> CRIAR </button>
  </div>

</form>