<p>
    <mat-toolbar>
        <mat-toolbar-row class="header">
            <h1>Lampions League  </h1>
            <img src="assets/img/chapeu.png" alt="chapéu">
        </mat-toolbar-row>

        <mat-toolbar-row style="border-bottom: solid 1px #fff">
            <nav class="menu">
                <a class="action" routerLink="" mat-list-item>
                    <i class="material-icons">home</i> Início
                </a>

                <a class="action" routerLink="/team" mat-list-item>
                    <i class="material-icons">sports_soccer</i> Classificação
                </a>
            </nav>
        </mat-toolbar-row>
    </mat-toolbar>
</p>